/*
Theme Name: Manga+Press Bundled Theme for TwentyTwelve
Theme URI: http://www.mange-press.com
Description: Default bundled theme for Manga+Press. Requires WordPress' TwentyTwelve theme.
Version: 1.1
Author: Jess Green
Author URI: http://www.jes.gs/
Template: twentytwelve
Tags: comics, comic theme, manga press, webcomics, online comics
*/

/* comic navigation */
#comic-navigation {
    text-align: left;
    margin: 5px 0 10px 0;
    padding: 0;
}

#comic-navigation a {
    font-size: 16px;
    text-decoration: none;
    padding: 3px 10px;
}

.comic-nav-span {
    padding: 3px 10px;
    text-decoration: none;
}

ul.comic-nav  {
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

ul.comic-nav li {
    display: inline;
    list-style-type: none;
}

ul.comic-nav a:link,
ul.comic-nav a:visited {
    color: #ccc;
    text-decoration: none;
}

ul.comic-nav a:hover {
    text-decoration: none;
}

ul.comic-nav li:before{
    content: "";
}
