/*
Theme Name: Manga+Press Bundled Theme for TwentyTwelve
Theme URI: http://www.mange-press.com
Description: Default bundled theme for Manga+Press. Requires WordPress' TwentyTwelve theme.
Version: 1.1
Author: Jess Green
Author URI: http://www.jes.gs/
Template: twentytwelve
Tags: comics, comic theme, manga press, webcomics, online comics
*/

/* comic navigation */
.comic-nav-hlist-wrapper {
    text-align: left;
    margin: 5px 0 10px 0;
    padding: 0;
    clear: both;
    float: none;
}

.comic-nav-hlist {
    list-style: none;
}

.comic-nav-hlist > li {
    float: left;
    margin-right: 10px;
}