/*
Theme Name: Manga+Press Bundled Theme for TwentyEleven
Theme URI: http://www.manga-press.com
Description: Default bundled theme for Manga+Press. Requires WordPress' TwentyEleven theme.
Version: 1.1
Author: Jess Green
Author URI: http://www.jes.gs/
Template: twentyeleven
Tags: comics, comic theme, manga press, webcomics, online comics
*/

/* comic navigation */
.comic-nav-hlist-wrapper {
    text-align: left;
    margin: 5px 0 10px 0;
    padding: 0;
    clear: both;
    float: none;
}

.comic-nav-hlist {
    list-style: none;
}

.comic-nav-hlist:after {
    clear: both;
    float: none;
}

.comic-nav-hlist > li {
    float: left;
    margin-right: 10px;
}

.comic-nav-hlist > li:last-of-type {
    margin-right: 0;
}

.comic-nav-hlist > li:last-of-type:after {
    display: block;
    clear: both;
    float: none;
}