/*
Theme Name: Manga+Press Bundled Theme for TwentyThirteen
Theme URI: http://www.mange-press.com
Description: Default bundled theme for Manga+Press. Requires WordPress' TwentyThirteen theme.
Version: 1.1
Author: Jess Green
Author URI: http://www.jes.gs/
Template: twentythirteen
Tags: comics, comic theme, manga press, webcomics, online comics
*/

.mangapress-comic-img {
    margin: 0 auto;
    width: 100%;
    height: auto;
}


/* comic navigation */
.comic-nav-hlist-wrapper {
    margin: 5px 0 10px 0;
    text-align: center;
    padding: 0;
    clear: both;
    float: none;
}

.comic-nav-hlist {
    list-style: none;
    margin: 0;
    padding: 0;
}

.comic-nav-hlist:after {
    clear: both;
    float: none;
    display: block;
    content: "";
}

.comic-nav-hlist > li {
    display: inline-block;
    margin-right: 10px;
}

.comic-nav-hlist > li:last-of-type {
    margin-right: 0;
}