.site-main > .entry-header {
    margin: calc(3 * 1rem) calc(10% + 60px) calc(1rem / 2);
}

.comic-nav-hlist-wrapper {
    display: block;
    margin-top: 20px;
}

.comic-nav-hlist {
    list-style: none;
}

.comic-nav--nolink {
    color: #cccccc;
}

.link-first a:before {
    content: "<<";
    margin-right: 5px;
}

.link-prev a:before {
    content: "<";
    margin-right: 5px;
}

.link-next a:after {
    content: ">";
    margin-left: 5px;
}

.link-last a:after {
    content: ">>";
    margin-left: 5px;
}

.mangapress_comic img {
    margin: 0 auto;
    display: block;
}

.single-mangapress_comic .single-featured-image-header {
    display: none;
}

.comic-link-item {
    display: block;
    padding: 15px 10px;
    text-align: center;
}
.mangapress-archive-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.mangapress-archive-gallery > li {
    text-align: center;
    width: 25%;
    font-size: 12px;
    list-style: none;
    margin: 10px;
}

.mangapress-archive-gallery > li:after {
}

.mangapress-archive-gallery .archive-item img {
    display: inline-block;
}

.comic-title-caption,
.comic-post-date {
    display: block;
    text-align: center;
    margin: 0;
    padding: 0;
}

.comic-title-caption {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

@media screen and (min-width: 767px) {
    .comic-nav-hlist {
        display: flex;
        justify-content: space-evenly;
    }

    .comic-link-item {
        display: inline;
        padding: 0;
        text-align: left;
    }
}