/* comic navigation */
.comic-nav-hlist-wrapper,
.comic-bookmark-nav-hlist-wrapper {
    text-align: left;
    margin: 5px 0 10px 0;
    padding: 0;
    clear: both;
    float: none;
}

.comic-nav-hlist,
.comic-bookmark-nav-hlist {
    list-style: none;
}

.comic-nav-hlist:after,
.comic-bookmark-nav-hlist:after {
    content: "";
    display: block;
    float: none;
    clear: both;
}

.comic-nav-hlist > li,
.comic-bookmark-nav-hlist > li {
    float: left;
    margin-right: 10px;
}