/* comic navigation */
.comic-nav-hlist-wrapper {
    text-align: left;
    margin: 5px auto 10px;
    padding: 0;
    clear: both;
    float: none;
}

.comic-nav-hlist-wrapper .comic-nav-hlist {
    list-style: none;
}

.comic-nav-hlist-wrapper .comic-nav-hlist:after {
    content: "";
    display: block;
    float: none;
    clear: both;
}

.comic-nav-hlist-wrapper .comic-nav-hlist > li {
    float: left;
    margin-right: 10px;
}

/* calendar styles */
.mangapress_widget_calendar caption {
    padding: 5px;
    text-align: center;
}
.mangapress_widget_calendar table {
    width: 100%;
}

.mangapress_widget_calendar td,
.mangapress_widget_calendar th {
    width: 14.28%;
    padding: 5px;
    text-align: left;
}