.comic-nav-hlist-wrapper {
    display: block;
    margin-top: 20px;
}

.comic-nav-hlist {
    list-style: none;
}

.comic-nav--nolink {
    color: #cccccc;
}

.link-first a:before {
    content: "<<";
    margin-right: 5px;
}

.link-prev a:before {
    content: "<";
    margin-right: 5px;
}

.link-next a:after {
    content: ">";
    margin-left: 5px;
}

.link-last a:after {
    content: ">>";
    margin-left: 5px;
}

.mangapress_comic_title {
    text-align: center;
}

.mangapress_comic img {
    margin: 0 auto;
    display: block;
}

.single-mangapress_comic .single-featured-image-header {
    display: none;
}

.comic-link-item {
    display: block;
    padding: 15px 10px;
    text-align: center;
}

@media screen and (min-width: 767px) {
    .comic-nav-hlist {
        display: flex;
        justify-content: space-evenly;
    }

    .comic-link-item {
        display: inline;
        padding: 0;
        text-align: left;
    }
}